.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.masonry_grid {
  column-count: 1;
  column-gap: 1rem;
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .masonry_grid {
    column-count: 2;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .masonry_grid {
    column-count: 3;
  }
}

.masonry_grid__item {
  break-inside: avoid;
}

.masonry_grid__item img {
  width: 100%;
}
